{{- $id := .Get "id" | default (.Get 0) -}}
{{- $src := .Get "src" | default (printf "js/%s.js" $id) -}}
{{- $type := .Get "type" -}}
{{- $defer := .Get "defer" -}}
{{- $class := .Get "class" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}

<canvas id="{{ $id }}"{{ if $class }} class="{{ $class }}"{{ end }}{{ if $width }} width="{{ $width }}"{{ end }}{{ if $height }} height="{{ $height }}"{{ end }}></canvas>
{{- if $src }}
<script src="{{ $src | relURL }}"{{ if $type }} type="{{ $type }}"{{ end }}{{ if $defer }} defer{{ end }}></script>
{{- end }}
